@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: 'smooth';
    @apply overflow-x-hidden;
  }
  body {
    text-rednering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    @apply font-body text-base;
  }
}

.container {
  @apply max-w-screen-lg mx-auto;
}

.rich-text p {
  @apply mb-8;
}

.rich-text img {
  @apply w-full mb-8;
}
