@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: 'smooth';
    @apply overflow-x-hidden;
  }
  body {
    text-rednering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    @apply font-body text-base;
  }
}

.container {
  @apply max-w-screen-lg mx-auto;
}

.stacked {
  @apply relative bg-white border-4 border-black rounded-xl;
}

.stacked > *:not(::before) {
  @apply relative;
}

.stacked::before {
  content: '';
  @apply absolute top-4 -left-6 w-full h-full rounded-xl block border-8 border-primary z-0;
}
